.layout-main {
    position: static;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active {
    background-color: #e0e0e0;
}

.crash-table tbody tr {
    cursor: pointer;
}

.crash-table .subheader {
    cursor: default;
    height: auto !important;
    color: white;
    text-transform: uppercase;
}

.crash-table .subheader td {
    height: auto;
    padding: 0.4em 1em;
    font-weight: bold;
}

.back-button {
    margin-left: -1em;
    margin-right: 0.4em;
    opacity: 1;
}

.back-button.hide {
    opacity: 0;
}